SECRET_KEY=insert_secret_key
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost,muxy
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

LANGUAGE_CODE=en-us
TIME_ZONE=UTC

PGDATABASE=muxy
PGUSER=muxy
PGPASSWORD=insert_password
PGHOST=localhost
PORT=5432

DB_PATH=~/muxy.sqlite3

NGINX_RTMP_UPDATE_TIMEOUT=30

EMAIL_FROM=
